* {
  box-sizing: border-box;
}
form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item {
  border: 1px solid blue;
}

label[for="dropdown"] {
  display: block;
}
label[for="feedback"] {
  display: block;
}
span {
  display: block;
}
form * {
  margin: 2px;
}
